*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.city-card{
    padding: 10px;
    border-radius: 10px;
    background:#219ebc ;
    color: #fff;
}

/*.box{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
